<!-- Wrapper -->
<div id="wrapper">

<!-- Header -->
<header id="header"{% if page.layout == "landing" %} class="alt style2"{% endif %}{% if page.layout == "home" %} class="alt"{% endif %}>
	<a href="{{ site.url }}/{{ page.lang }}" class="logo"><strong>{{ site.title }}</strong> <span>{{ site.subtitle }}</span></a>
	<nav>
		<a href="#menu">Menu</a>
	</nav>	
</header>

<nav id="menu">
	{% if page.lang == "en" %}
	<ul class="links">
        	<li><a href="{{ "" | absolute_url }}{{ page.lang }}">Home</a></li>
        	<li><a href="{{ site.url }}/en/contact">Contact</a></li>
    </ul>
    <ul class="actions vertical">
    	<li><a href="{{ site.url }}/fr" class="button special fit">Voir le site en français</a></li>
	</ul>
	{% endif %}
	
	{% if page.lang == "fr" %}
	<ul class="links">
        	<li><a href="{{ "" | absolute_url }}{{ page.lang }}">Home</a></li>
        	<li><a href="{{ site.url }}/fr/contact">Contact</a></li>
    </ul>
    <ul class="actions vertical">
    	<li><a href="{{ site.url }}/en" class="button special fit">Switch to english</a></li>
	</ul>
	{% endif %}
</nav>