{% include header.html %}

    <!-- Banner -->
    <section id="landing" class="major" style="height:100%; max-height:none;">
        <div class="inner">
            <header class="major">
                <h1>{{ site.title }}</h1>
            </header>
            <div class="content">
                <blockquote style="text-transform: uppercase;"><b>{{ site.description }}</b></blockquote>
                
		<!--
		<ul class="actions">
                    
			<li><a href="photos.html" class="button next">Visiter</a></li>
                
		</ul>
		-->
		    
		    
		</div>
		<ul class="actions" style="margin-top: 3em;">    
			<ul class="languages">
			{% for lang in site.data.languages %}
			{% assign language = lang[1] %}
			<li><a href="{{site.baseurl}}{{lang[0]}}" class="button special">{{language.icon}} {{ language.label }} ({{ language.code }})</a></li>
			{% endfor %}
			</ul>
			<li>
				<a href="#main" class="button special js-scrollTo">{{ site.data.translations['discover'][page.lang] }}:</a>
			</li>
		</ul>
        </div>
    </section>


