<!DOCTYPE html>
<html>

{% include head.html %}

<body>
  {% include header.html %}
    <!-- Banner -->
    <section id="banner" class="major">
      <div class="inner">
        <header class="major">
           <h1>Merci !</h1>
        </header>
        <div class="content">
           <blockquote style="text-transform: uppercase;font-weight: bold;"><b>Merci de nous avoir envoyé cet email, nous tâcherons de vous répondre au plus vite ! </b></blockquote>
        </div>
      
      	<ul class="actions">
		<li><a href="" class="button next">Retour</a></li>
      	</ul>
	      
      </div>
    </section>

</body>

</html>
