<!DOCTYPE html>
<html>

{% include head.html %}

<body>
  {% include header.html %}
    <!-- Banner -->
    <section id="banner" class="major">
      <div class="inner">
        <header class="major">
           <h1>{{ site.title }}</h1>
        </header>
        <div class="content">
           <blockquote style="text-transform: uppercase;font-weight: bold;"><b>{{ site.description }}</b></blockquote>
        </div>
      </div>
    </section>

    <!-- Main -->
    <div id="main">

        <!-- one -->
        <section id="one">
            <div class="inner">
                <header class="major">
                    <h2>Merci !</h2>
                </header>
                <!-- <p>{{ content }}</p> -->
		<blockquote><b> Merci de nous avoir envoyé cet email, nous tâcherons de vous répondre au plus vite ! </b></blockquote>
		
		    
            </div>
        </section>

    </div>

</body>

</html>
